.headng{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    
}
.a{
    margin-left: 30px;
    color: #ff00ff;

}

hr{
    margin-left: 20px;
    border: 1px solid #ff00ff;
    margin-bottom: 20px;}
    .pa{
    margin-left: 30px;
    margin-right: 20px;
text-align: justify;
font-style: times new roman;
font-size: 18px;
    }
.picture img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 20px;
    object-fit: cover;
        border: solid 2px #ff00ff;
}
.acd{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

}
.my:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
        box-shadow: #090010 0px 0px 10px;
}
.button1{
    background-color:#320653;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 30px;
    margin-top: 10px;
}
.button1:hover{
    background-color: transparent;
   
    border: 2px solid #320653;
        box-shadow: #090010 0px 0px 10px;
            color: aliceblue;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

